html {
    scroll-behavior: smooth;
  }
body {
    color: white;
    font-family: 'Manrope', sans-serif; 
    background-color: #29282d;
    margin: 0;
    padding: 0;
}
button {
    border: none;
    height: 40px;
    border-radius: 8px;
    padding: 12px;
    background-color: #2d2b41;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Manrope', sans-serif; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 16px;
}
/* ----------------------------------------------NAV MODAL------------------------------------------ */

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    overflow-y: auto;
    background: linear-gradient(0deg, rgba(24, 22, 38, 0.98), rgba(24, 22, 38, 0.98)),
    radial-gradient(55.17% 50% at 50% 100%, rgba(128, 126, 238, 0.08) 0%, rgba(64, 69, 201, 0) 100%);
    margin: 60px auto;
    padding: 20px;

    width: 100vw;
    height: 100vh;
  }
  .modal-items a:hover {
    color: #6061db;
  }





/* ------------------------------------------- HEADER ------------------------------------------- */
header {
    height: 65px;
    width: 100vw;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 999;
    background-color: rgb(29, 27, 45,0);
    transition: background-color 0.3s ease-in-out;
    /* background-image: linear-gradient(to bottom, #1d1b2d,rgba(29, 27, 45, 0.8), rgba(29, 27, 45, 0.6), rgba(29, 27, 45, 0.05)); */
}
nav a {
    transition: color 0.25s;
}
nav {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

nav a:hover {
    color: #6061db;
}

@media (min-width: 1111px) {
    #nav-buttons {
        display: block;
    }
    #modal-button {
        display: none;
    }
}
@media (max-width: 1111px) {
    #nav-buttons {
        display: none;
    }
    .mobile-text-center {
        text-align: center;
    }
}
@media (max-width: 775px) {
    #logo {
        height: 40px;
    }
    #display-login-button {
        display: none;
    }
}
@media (min-width: 775px) {
    #login-button {
        width: 200px;
    }
}


.select {
    position: relative;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: #7A769B;
    height: 15px;
    border-radius: 8px;
    padding: 12px;
    background-color: #2d2b41;
}

.select-items div,.select-selected {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(122, 118, 155, 1);
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.select-items {
    margin-top: 8px;
    width: 80px;
    position: absolute;
    background-color: #2d2b41;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 8px;
}

.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #7b7b7b;
}


#login-button {
    cursor: pointer;
    padding: 20px;
    color: white; 
    background: linear-gradient(90deg, #807EEE 0%, #4045C9 100%); 
    border: none; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 16px;
    box-shadow: 
        0px 4px 24px 0px #00000033, 
        0px 8px 12px 0px #4745A533, 
        0px 4px 44px 0px #6D6BC71F, 
        0px 2px 4px 0px #FFFFFF0A;

    transition: background 0.3s ease;
}
#login-button:hover {
    background: linear-gradient(90deg, #606CBB 0%, #3035A6 100%);
}

#login-button:active {
    background: linear-gradient(90deg, #40459A 0%, #202583 100%);
}



/* ----------------------------------------MAIN BLOCK--------------------------------------------- */
.main {
    height: 100vh;
    background-image: url('src/main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.contacts {
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    display: none;
    position: absolute;
    background-color: #1d1b2d;
}

.contsct-item{
    background-color: #1d1b2d;
    padding: 12px;
}
.contsct-item:hover {
    background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)),
        radial-gradient(50% 50% at 50% 100%, rgba(69, 74, 204, 0.2) 0%, rgba(69, 74, 204, 0) 100%);
}

.contsct-item:hover img{
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}

@media (max-width: 1439px) {
    .contacts {
        flex-direction: column;
    }
}
@media (min-width: 500px) {
    .contacts {
        display: flex; 
    }
}

.dot-div-card {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    cursor: pointer;

}

.dot-card {
    background-color: #77767f;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: transform 0.2s ease-out;
}
.dot-card:hover {
    background-color: white;
    transform: scale(1.5);
    transition: transform 0.2s ease-out;
}
.active-dot {
    border: 3px solid #77767f;
}
.active-dot:hover {
    border: 3px solid white !important;
}

@media (min-width: 1440px) {
    .cards {
        display: flex;
        flex-direction: row;
        width: 85vw;
        justify-content: space-between; /* Добавьте это свойство */
    }
    #dotsContainerCards {
        display: flex;
        flex-direction: column;

    }
}
@media (max-width: 1440px) {
    .cards {
        display: flex;
        flex-direction: column;
    }

}



#card {
    position: relative;
    border-width: 1px;
    border: #44434d 1px solid;
    border-radius: 20px;
    z-index: 2;
}

#card::before {
    content: "";
    background-image: url('src/c1eaff62f647e63af0cf4dacf1a9b376.png');
    background-size: cover;
    opacity: 0.05;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#card::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(24, 22, 38, 0.6), rgba(24, 22, 38, 0.6)), radial-gradient(55.17% 50% at 50% 100%, rgba(128, 126, 238, 0.08) 0%, rgba(64, 69, 201, 0) 100%);

}
@media (max-width: 775px) {
    #card {
        width: 82vw;
        padding: 40px 20px 40px 20px;
    }

}

@media (min-width: 775px) {
    #card {
        width: 700px;
        padding: 40px;
    }
}

@media (max-width: 615px) {
    .display-none-mobile {
        display: none;
    }

}
@media (min-width: 615px) {
    .display-mobile {
        display: none;
    }

}

#how-use {
    cursor: pointer;
}
#how-use:hover {
    color: #9e9bc2;
}

#instruction {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#instruction:hover {
    transform: translateY(4px);
}

.margin-bottom {
    margin-bottom: 50px;
}


/* ------------------------------------------EDGE PAGE-------------------------------------------- */

#card-edge {
    gap: 10px;
    width: 250px;
    padding: 20px;
    position: relative;
    border: solid 0.5px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#29282d, #29282d), radial-gradient(circle at top left, #44434d,rgba(0, 0, 0,0),rgba(0, 0, 0,0),rgba(0, 0, 0,0),rgba(0, 0, 0,0));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: transform 0.3s ease-in-out;
    

    /* border-width: 4px;
    вариант градиента на углу. проблема: не скругляется
    border-radius: 20px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, rgb(66, 66, 66),rgb(153, 50, 204, 0),rgb(153, 50, 204, 0),rgb(153, 50, 204, 0),rgb(153, 50, 204, 0),rgb(153, 50, 204, 0),rgb(153, 50, 204, 0), rgb(153, 50, 204, 0)) 1; */
}

#card-edge:hover {
    transform: translateY(-8px);
}

#card-edge img {
    height: 100px;
    width: 100px;
}

#card-edge::before {
    content: "";
    background-image: url('src/c1eaff62f647e63af0cf4dacf1a9b376.png');
    background-size: cover;
    opacity: 0.02;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#card-edge::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0, rgba(0,0,0,0), rgba(0,0,0,0)), radial-gradient(50% 50% at 50% 100%, rgba(69, 74, 204, 0.08) 0%, rgba(69, 74, 204, 0) 100%);

}

#card-edge:hover::after {
    background: linear-gradient(0, rgba(0,0,0,0), rgba(0,0,0,0)), radial-gradient(50% 50% at 50% 100%, rgba(69, 74, 204, 0.16) 0%, rgba(69, 74, 204, 0) 100%);
}


/* -----------------------------ABOUT DFS------------------------------------ */

#about-dfs {
    background: linear-gradient(to top, #202024, transparent);
}

#notebook-img {
    background-image: url('src/Frame 79.png');
    width: 590px;
    height: 300px;
    background-size: cover;
}

@media (max-width: 600px) {
    #notebook-img {
        height: 296px;
        width: 336px;
        background-image: url('src/Frame 79-small.png');
    }
}



/* ---------------------------------------------WHY DFS BLOCK---------------------------------------------- */

#top-waves {
    background-image: url('src/Mask group.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.why-dfs-card-content {
    display: flex;
    gap: 10px
}

.why-dfs-card {
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    width: 80%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border: black 1px solid;
    position: relative;
    border: #403f48 1px solid;
    transition: transform 0.3s ease-in-out;
}

.why-dfs-card:hover {
    transform: translateY(-8px);
}

.why-dfs-card::before {
    content: "";
    background-image: url('src/c1eaff62f647e63af0cf4dacf1a9b376.png');
    background-size: cover;
    opacity: 0.01;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.why-dfs-card::after {
    content: "";
    border-radius: 12px;
    background: linear-gradient(91.49deg, rgba(24, 23, 27, 0.3) 0%, rgba(24, 23, 27, 0.4) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Это поместит градиент под содержимым */
}



/* ----------------------------------------HOW WORK ?---------------------------------------------- */

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn2 {
    0% {opacity: 0;}
    100% {opacity: 0.04;}
}
.video-item {
    width: 80%;
    max-width: 550px;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.video-item.active::before {
    content: "";
    background-image: url('src/c1eaff62f647e63af0cf4dacf1a9b376.png');
    background-size: cover;
    opacity: 0.04;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn2 0.3s;
}

.video-item.active::after {
    content: "";
    border: #201f23 1px solid;
    border-radius: 12px;
    background: linear-gradient(91.49deg, rgba(24, 23, 27, 0.3) 0%, rgba(24, 23, 27, 0.4) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.3s;
}

.video-item img {
    margin-bottom: auto;
}

.video-item-content {
    gap: 10px
}

.video-mobile-resize {
    height: 334px;
    width: 630px;
    background-image: url('src/video.png');
}

.ad-mobile-resize {
    height: 366px;
    width: 630px;
    background-image: url('src/ad.png');
}

@media (max-width: 600px) {
    .video-mobile-resize {
        height: 240px;
        width: 336px;
        background-image: url('src/Frame 98-small.png');
    }
    .ad-mobile-resize {
        height: 284px;
        width: 336px;
        background-image: url('src/Frame 91-small.png');
    }
    .mobile-resize-question-svg {
        height: 16px;
    }
}



/* ----------------------------------------REVIEW BLOCK----------------------------------- */

#reviews-background {
    background-image: url('src/r-vector.svg');
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: left top;
    height: 475px;
}

#reviews {
    height: 350px;
    gap: 25px;
    position: relative;
    width: 76vw;
    overflow-x: auto;
    scrollbar-width: none;
}

.dot-div {
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;

    background: rgba(111, 110, 201, 1);
    border-radius: 2px;
}

@media (max-width: 600px) {
    #card-review {
        min-width: 265px;
    }
    #reviews {
        width: 50vh;
    }
}

@media (min-width: 600px) {
    #card-review {
        min-width: 416px;
    }
}

#reviews::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

#card-review {
    transition: transform 0.3s ease-in-out;
    padding: 25px;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(0, rgba(0,0,0,0), rgba(0,0,0,0)), radial-gradient(50% 50% at 50% 100%, rgba(69, 74, 204, 0.08) 0%, rgba(69, 74, 204, 0) 100%);
}

#card-review::before {
    content: "";
    background-image: url('src/c1eaff62f647e63af0cf4dacf1a9b376.png');
    background-size: cover;
    opacity: 0.02;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#card-review:hover {
    transform: translateY(-4px);
    background: linear-gradient(0, rgba(0,0,0,0), rgba(0,0,0,0)), radial-gradient(50% 50% at 50% 100%, rgba(69, 74, 204, 0.16) 0%, rgba(69, 74, 204, 0) 100%);
}

.card-review-content {
    display: flex;
    gap: 20px
}
.prevReviewButton, .nextReviewButton {
    transition: transform 0.2s ease-in-out;
    height: 20px;
}
.prevReviewButton:hover:not(.disabled), .nextReviewButton:hover:not(.disabled) {
    transform: scale(1.25);
}

.mirror {
    transform: scaleX(-1);
}


/* ------------------------------WARN MODAL ------------------------------ */
#modal-screen {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: linear-gradient(0deg, rgba(24, 22, 38, 0.7), rgba(24, 22, 38, 0.7)), radial-gradient(55.17% 50% at 50% 100%, rgba(128, 126, 238, 0.08) 0%, rgba(64, 69, 201, 0) 100%);
}

#warnModal {
    width: 80vw;
    max-width: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #44434d;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(24, 22, 38, 1), rgba(24, 22, 38, 1)), radial-gradient(55.17% 50% at 50% 100%, rgba(128, 126, 238, 0.08) 0%, rgba(64, 69, 201, 0) 100%);
}
#warnModal::before {
    content: "";
    background-image: url('src/c1eaff62f647e63af0cf4dacf1a9b376.png');
    background-size: cover;
    opacity: 0.02;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#warnModal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: -2;
    background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0)),
    radial-gradient(50% 50% at 50% 100%, rgba(69, 74, 204, 0.2) 0%, rgba(69, 74, 204, 0) 100%);

}

#understandBtn {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    background: linear-gradient(90deg, #807EEE 0%, #4045C9 100%);
    border-radius: 4px;
    width: 95%;
}

/* .warn-modal-content {
    display: none;
} */
















/* ----FOOTER---- */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}



















/* -------------------------------------------------GENERAL STYLES------------------------------------------------------ */


@media (min-width: 600px) {
    .text-32-18 {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;

    }
    .text-18-16 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }
    .text-14-16 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .text-14-10 {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}
@media (max-width: 600px) {
    .text-32-18 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }
    .text-18-16 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
    .text-14-16 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .text-14-10 {
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;

    }
}

.text-14 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}
.text-18 {

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;


}
.y-center {
    display: flex;
    align-items: center;
}
.xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-center {
    display: flex;
    justify-content: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.text-gray {
    color:rgba(197, 194, 220, 1);
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}
